body{
  background-color: white;
}
nav{
  display: flex;
  font-size: 25px;
  align-items: center;
  border-radius: 20px;
}

ul{
  display: flex;
  gap: 25px;
  list-style: none;
}
a{
  text-decoration: none;
}